.Servicios {
    display: flex;
    justify-content: space-around;
}

.Posicionamiento-Web {
width: 460px;
height: 650px;
top: 1862px;
left: 30px;
border-radius: 20px;
border: 7px solid #14213D;
}

h1 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #14213D;
}

.imagen-posicionamiento-web {
    max-width: 100%;
}

.Tienda-Online {
    width: 424px;
    height: 650px;
    top: 1862px;
    left: 508px;
    border-radius: 20px;
    border: 7px solid #14213D;
}

h2 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #14213D;
}

.imagen-tienda-online {
    max-width: 100%;
}

.Publicidad-Online {
    width: 460px;
    height: 650px;
    top: 1862px;
    left: 950px;
    border-radius: 20px;
    border: 7px solid #14213D;
}

h3 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #14213D;
}

.imagen-publicidad-online {
    max-width: 100%;
}