html {
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

.blanco {
    color: #ffffff;
}

/* Header */

.encabezado {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: min(10vw, 80px);
    background-color: #14213D;
    display: flex;
}

nav{
    width: 100%;
    height: min(10vw, 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 20px;
}

.logo {
    height: min(10vw, 80px);
}

.menu {
    text-decoration: none;
    font-family: 'Jost', sans-serif; /* Aplica la fuente Jost al menú */
    font-size: min(3vw, 24px); /* Ajusta el tamaño de la letra */
}
/* Cambiar el color al pasar el ratón */
.menu:hover {
    color: #ffca41; /* Puedes cambiar esto al color que desees */
 }
 
 /* Agregar bordes al pasar el ratón */
 .menu:hover {
    border-bottom: 2px solid #ffca41; /* Puedes cambiar esto al color y ancho que desees */
 }

/* Inicio */

.inicio {
    background-image: url(imagenes/fondo.jpg);
    width: 100%;
    height: 45vw;
    background-position: center 30%;
    background-size: cover;
    padding: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inicio--titulo {
    margin-top: 0;
    text-align: center;
    font-size: 7vw;
    font-weight: 700;
}

.inicio--subtitulo {
    font-size: 3vw;
    font-weight: 400;
    margin-left: 8vw;
    margin-bottom: 5vw;
    text-align: left;
}

/* Nosotros */

.Nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.titulo--somos,
.titulo--caracteristicas,
.titulo-equipo,
.contenido--somos {
    margin-bottom: 15px;
}

.amarillo {
    color: #ffca41;
}

.Developers {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben */
    background-color: #14213d;
}

.Developers_GoTech {
    text-align: center;
    margin: 10px;
    flex: 1; /* Hace que cada elemento tenga el mismo tamaño */
    max-width: 300px; /* Limita el ancho máximo para evitar que se estiren demasiado */
}

.Developers_GoTech img {
    width: 70%; /* Asegura que la imagen sea 100% del ancho del contenedor */
    height: auto;
}

.Developers--Funcion {
    color: white;
    font-size: 12px;
}

.Developers--nombre {
    color: #fca311;
    font-size: 12px;
}

/*Servicios*/

.Servicios {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 2%;
}

.Posicionamiento-Web {
    position: relative;
    width: 460px;
    border-radius: 20px;
    border: 8px solid #14213D;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Posicionamiento-Web .pw-figure {
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.Posicionamiento-Web .pw-figure .pw-img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.Posicionamiento-Web .pw-figure .capa_posicionamiento_web {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 69, 80, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.Posicionamiento-Web .pw-figure:hover > .capa_posicionamiento_web {
    opacity: 1;
    visibility: visible;
} 

.Posicionamiento-Web .pw-figure:hover > .capa_posicionamiento_web .h1pw-title {
    margin-top: 70px;
    margin-bottom: 15px;
}

.Posicionamiento-Web .pw-figure:hover > .pw-img {
    transform: scale(1.3);
}

.Posicionamiento-Web .pw-figure .capa_posicionamiento_web .pw-p {
    color:#ffffff;
    font-size: 21px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.Posicionamiento-Web .pw-figure .capa_posicionamiento_web .h1pw-title {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #ffffff;
}

.Tienda-Online {
    width: 424px;
    height: 650px;
    top: 1862px;
    margin-inline-start: 1%;
    margin-inline-end: 1%;
    border-radius: 20px;
    border: 8px solid #14213D;
}

h2 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #14213D;
}

.imagen-tienda-online {
    max-width: 100%;
}

.Publicidad-Online {
    width: 460px;
    height: 650px;
    top: 1862px;
    margin-inline-start: 1%;
    margin-inline-end: 1%;
    border-radius: 20px;
    border: 8px solid #14213D;
}

h3 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    color: #14213D;
}

.imagen-publicidad-online {
    max-width: 100%;
}

/* Contacto */

.contacto {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 10vw;
    justify-content:flex-start;
}
.imagencontacto {
    width: 50%; /* ancho de la imagen de dos personas */
    height: auto;
} 
.form {  
    /* formulario */
    width: 50%; /* ancho del formulario Te ayudamos */
    padding: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-left: 3em;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}
  
label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em;
  
    /* Tamaño uniforme del campo de texto */
    width: 250px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}
textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;

    /* Proporcionar espacio para escribir texto */
    height: 5em;
}
.button-container {
    text-align:center; /* Centrar el botón dentro de este contenedor */
}
button {
    margin-top: 1em;
    display: flex;
    width: 181px;
    height: 70px;
    justify-content: center;
    align-items: center; 
}

/* Footer */

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: #14213D;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: min(1.5vw, 16px);
}

.footer--redes {
    display: flex;
}

.footer--logo {
    margin: 10px;
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción de aspecto */
}


/* media query for smaller screens */
@media screen and (max-width: 768px) {

    .Nosotros {
        padding: 10px;
    }

    .form {
        width: 80%; /* width for smaller screens */
        margin-left: auto; /* Center the form horizontally */
        margin-right: auto;
    }

    label {
        width: auto; /* Allow labels to take full width on smaller screens */
        text-align: left; /* Adjust label alignment */
    }

    input, textarea {
        width: 100%; /* Make input fields take full width */
    }

    .button-container {
        text-align:center; /* Centrar el botón dentro de este contenedor */
    }

    button {
        margin-top: 1em;
        display: flex;
        width: 181px;
        height: 70px;
        justify-content: center;
        align-items: center; 
    }

    /* media query para ocultar al imagen de dos personas .imagencontacto en pantallas de menos de 768px */
    .imagencontacto {
        display: none;
    }
    footer {
        font-size: 11px;
    }
}