html {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

body, main {
    margin: 0;
}

.fondo {
    width: max(0px, 100vw);
    height: 57vw;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: top center;
}

.principal h1 {
    text-align: center;
    font-size: 7vw;
    padding-top: 3.5vw;
    font-weight: 700;
}

.principal h2 {
    font-size: 3vw;
    font-weight: 400;
    margin-top: 30vw;
    margin-left: 5vw;
}

.blanco {
    color: #ffffff;
}
.contacto {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 10vw;
    justify-content:flex-start;
}
.imagencontacto {
    width: 50%; /* ancho de la imagen de dos personas */
    height: auto;
} 
.form {  
    /* formulario */
    width: 50%; /* ancho del formulario Te ayudamos */
    padding: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-left: 3em;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}
  
label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em;
  
    /* Tamaño uniforme del campo de texto */
    width: 250px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
}
textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;

    /* Proporcionar espacio para escribir texto */
    height: 5em;
}
button {
  
    /* mismo tamaño que los elementos de la etiqueta */
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: 15em;
}
.form {
    width: 50%;
    padding: 3em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-left: 3em;
}
.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
 
    background: var(--Azul, #14213D);
}
.socialmedialogos {
    display: inline;
    gap: 15px
}
/* media query for smaller screens */
@media screen and (max-width: 768px) {
    .form {
        width: 80%; /* width for smaller screens */
        margin-left: auto; /* Center the form horizontally */
        margin-right: auto;
    }

    label {
        width: auto; /* Allow labels to take full width on smaller screens */
        text-align: left; /* Adjust label alignment */
    }

    input,
    textarea {
        width: 100%; /* Make input fields take full width */
    }

    button {
        margin-top: 1em; /* Add some space between the fields and the button */
        text-align:center;
    }
}
/* media query para ocultar al imagen de dos personas .imagencontacto en pantallas de menos de 768px */
@media screen and (max-width: 768px) {
    .imagencontacto {
        display: none;
    }
}
  
  